.pointer{
  cursor:pointer;
  .order-number{
    color: white;
    background-color: #7f89a0;
    align-content: center;
    align-items: center;
    align-self: center  ;
}
.descriptions{
    background:#424141;
    color:white;
    &.active{
      color:#424141;
      background: white;
    }
  }
}
