
<label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Select an option</label>
<select  [(ngModel)]="selectedOption" (change)="onSelect($event)" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
  <option *ngFor="let option of dataOutput" [ngValue]="option">{{ option.value }}</option>
</select>

<br> <p> Last Updated {{data.lastUpdatedFirstName }} by {{data.lastUpdatedLastName }} {{data.lastUpdated}} </p>
